/* RESET */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* UTILS */

.container {
  margin: 0 auto;
  padding: 0 10px;
  width: 1000px;
  max-height: 100px;
}

/* DEBUG */

.debug {
  background-color: darkturquoise;
  border: 2px dashed black;
  padding: 10px;
}

.debug .debug {
  background-color: goldenrod;
}

/* HEADER */

.page-header > .container {
  background-color: darkturquoise;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-container {
  display: flex;
  width: 25%;
}

.nav-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.login-container {
  display: flex;
  width: 25%;
}

/* MAIN */

.hero-section {
  background-color: blue;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-container {
  background-color: hotpink;
  width: 600px;
  height: 300px;
}
