/* COLOR

rosa #e683e9
blu #180086
azzurro #498df4
rosa nude #f4c0cb
verde #348827
rosa salmone #e58382
verde acqua #46ada6  
grigio chiaro #d2d2d2
grigio scuro #232629 */

/* RESET */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* UTILS */

.container {
  margin: 0 auto;
  padding: 0 10px;
  width: 1000px;
}

/* DEBUG */

.border {
  border: 2px dashed black;
  padding: 10px;
}

.border.navbar {
  background-color: goldenrod;
}

.border.hero {
  background-color: #e683e9;
}

.border.img {
  background-color: #498df4;
  height: 500px;
}

.border.text {
  background-color: #f4c0cb;
  height: 500px;
}

.border.gray {
  background-color: #d2d2d2;
}

.border.green {
  background-color: #348827;
}

.border.dark {
  background-color: #232629;
}

.border.salmon {
  background-color: #e58382;
}

.border.teal {
  background-color: #46ada6;
}

/* HEADER */

header {
  background-color: lightblue;
  padding: 10px;
}

.page-header > .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 20%;
}

.nav-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
}

.link-item {
  margin: 0px 5px;
}

.login-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 20%;
}

/* MAIN */

.main-container {
}

/* HERO-SECTION */

.hero-section {
  background-color: #180086;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.hero-container {
  width: 800px;
  height: 400px;
  margin: 20px 0px 20px 0px;
}

/* CARD */

section > .container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.col-big {
  width: 60%;
}

.col-small {
  width: 40%;
}

/* HEADER

.page-header > .container {
  background-color: darkturquoise;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-container {
  display: flex;
  width: 25%;
}

.nav-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.login-container {
  display: flex;
  width: 25%;
}

/* MAIN */

/* .hero-section {
  background-color: blue;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-container {
  background-color: hotpink;
  width: 800px;
  height: 300px;
}

.first-content > .container {
  background-color: rgb(186, 81, 81);
  width: 100%;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-content {
  display: flex;
  width: 500px;
  height: 500px;
  background-color: cornflowerblue;
}

.text-content {
  display: flex;
  width: 500px;
  height: 500px;
  background-color: pink;
} */
