/* RESET */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* UTILS */

.container {
  margin: 0 auto;
  padding: 0 10px;
  width: 1000px;
}

/* DEBUG */

.debug {
  background-color: darkturquoise;
  border: 2px dashed black;
  padding: 10px;
}

.debug .debug {
  background-color: goldenrod;
}

/* HEADER */

.page-header > .container {
  background-color: darkturquoise;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-container {
  display: flex;
  width: 25%;
}

.nav-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.login-container {
  display: flex;
  width: 25%;
}

/* MAIN */

.hero-section {
  background-color: blue;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-container {
  background-color: hotpink;
  width: 800px;
  height: 300px;
}

.first-content > .container {
  background-color: rgb(186, 81, 81);
  width: 100%;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-content {
  display: flex;
  width: 500px;
  height: 500px;
  background-color: cornflowerblue;
}

.text-content {
  display: flex;
  width: 500px;
  height: 500px;
  background-color: pink;
}
